.carusel{
    margin-top: 5px;
    margin-left: 90px;
    margin-bottom: 100px;
    width:80%;
    height:300px;
    outline: none;
  }
  .carImg{
  margin-left: 200px;
  width: 700px;
  height: 350px;
  padding:40px;
  }
  .carImg.phone{
    width: 250px;
    height: 300px;
    margin-left: 400px;
   
  }
  .carImg.nikon{
    margin-left: 300px;
    margin-top:40px;
    width: 450px;
    height: 300px; 
  }
.imgDescription{
  text-align: center;
}
.price{
  width:70px;
  height: 40px;
  border: 1px solid green;
  border-radius: 4px;
  background-color: green;
  color:white;
}