.mainHeader{
    width:100%;
    background-color: #122538;
    height: 90px; 
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    cursor: pointer;
  }
  
  .logo{
   margin-left:15px;
   margin-top: 15px;
   float: left;
  }
  .name{
    margin-left:15px;
    padding-top: 15px;
    float:left;
  }
  .vydelka{
    color:white;
    margin-bottom: 0;
  }
  .descr{
    color: white;  
  }
  .searcher{
    margin-left: 60px;
    margin-top:20px;
    width:800px;
    height:50px;
    border-radius:10px;
    outline: none;
    font-size:37px;
    float: left;
  }
  
  .srchbutton{
    margin-top:20px;
    margin-left: 15px;
    border-radius:10px;
    outline: none;
    width:150px;
    height:50px;
    background: green;
    color:white;
    border:1px solid green;
    cursor: pointer;
  }
  .btnconteiner{
    float:left;
  }

.shopping.basket.icon{
    font-size:35px;
    margin-top: 35px;
    margin-left:30px;
    color:white;
  }